!!!
%html
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
    
    %title Mortgage Calculator

    %link{ rel: 'stylesheet', type: 'text/css', href: '/css/milligram.css' }
    %script{ type: 'text/javascript', src: '/js/jquery-3.2.1.min.js' }
    %script{ type: 'text/javascript', src: '/js/application.js' }

  %body
    .container
      =yield
